@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px; }

body {
  background-color: #f8f9fa; }

header {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  width: 100%;
  min-height: 80px;
  align-items: center;
  padding: 0 auto;
  z-index: 10; }
  header div.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    padding: 0;
    margin: 0 auto; }
  header img {
    width: 67px;
    height: 18px;
    display: flex;
    align-items: center; }
  header img:hover {
    cursor: pointer; }
  header div.right-header {
    display: flex;
    align-items: center;
    gap: 20px;
    width: auto;
    justify-content: center; }
    header div.right-header nav.menus {
      width: 240px; }
    header div.right-header ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0; }
    header div.right-header ul > li {
      display: inline-block; }
    header div.right-header .social_icons {
      width: auto;
      justify-content: space-around;
      align-items: center;
      padding: 0 18px;
      gap: 22px;
      min-height: 20px;
      display: flex;
      border-right: 0.5px solid white;
      border-left: 0.5px solid white; }
      header div.right-header .social_icons i {
        display: flex;
        justify-content: space-around; }
    header div.right-header i:hover {
      color: #f79393;
      cursor: pointer; }
    header div.right-header i:active {
      color: #ce5109; }
    header div.right-header i.fa-facebook:hover,
    header div.right-header i.fa-twitter:hover,
    header div.right-header i.fa-behance-square:hover {
      color: lightblue; }
    header div.right-header i.fa-facebook:active,
    header div.right-header i.fa-twitter:active,
    header div.right-header i.fa-behance-square:active {
      color: #6db8f5; }
    header div.right-header a {
      text-decoration: none;
      color: white;
      font-size: 12px;
      padding-bottom: 5px; }
    header div.right-header li a:hover {
      border-bottom: 2px solid #d4a373; }
    header div.right-header li a:active {
      border-bottom: 2px solid #ce5109; }
    header div.right-header li:first-child a {
      border-bottom: 2px solid #d4a373; }
    header div.right-header .fa-search {
      width: 20px; }

.topic {
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  font-size: 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.15);
  display: inline-flex;
  justify-content: center;
  border-radius: 8px;
  width: auto; }
  .topic a {
    font-size: 10px;
    font-weight: 700; }

.topic:hover {
  cursor: pointer;
  background-color: #d4a373; }

.topic:active {
  cursor: pointer;
  background-color: #ce5109; }

section.blog_slider {
  background-image: url("../image/blog-slider-bg.svg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 600px;
  width: 100%;
  color: white;
  margin: -80px 0 0 0;
  z-index: -1; }
  section.blog_slider .nested_blog_slider {
    width: 1300px;
    padding: 278px 0 0 0;
    margin: auto; }
    section.blog_slider .nested_blog_slider h1 {
      margin: 18px 0 0 0;
      font-size: 36px;
      font-family: "Lora", serif;
      line-height: 46.08px; }
    section.blog_slider .nested_blog_slider .under_title {
      margin: 13px 0 0 0;
      display: flex;
      width: 550px; }
      section.blog_slider .nested_blog_slider .under_title p {
        color: #e5e5e5;
        font-size: 12px;
        font-weight: 400;
        font-family: "Lora", serif;
        margin-right: 20px;
        line-height: 20px; }
      section.blog_slider .nested_blog_slider .under_title hr {
        width: 40px;
        border: none;
        border-top: 1px #e5e5e5 solid;
        padding: 0;
        margin: 7px 0 0 0; }
      section.blog_slider .nested_blog_slider .under_title p.date_under_title {
        width: 50px; }
      section.blog_slider .nested_blog_slider .under_title p.text_under_title {
        margin-left: 8px; }

section.blog_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1300px;
  padding: 150px 0px 0 0px; }
  section.blog_cards h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Lora", serif;
    color: #495057;
    margin-bottom: -5px; }
  section.blog_cards .filter {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-top: 40px; }
    section.blog_cards .filter .left_filter {
      display: flex;
      width: 377px; }
    section.blog_cards .filter li {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;
      color: #495057;
      font-family: "Lora", serif;
      font-size: 12px;
      font-weight: 700;
      margin-right: 20px; }
    section.blog_cards .filter li:first-child {
      color: #ce5109; }
    section.blog_cards .filter li:last-child {
      justify-content: flex-end;
      flex-grow: 2;
      margin-right: 0; }
    section.blog_cards .filter li:hover {
      color: #d4a373;
      cursor: pointer; }
    section.blog_cards .filter li:active {
      color: #ce5109; }

.blog_cards {
  width: 1300px;
  padding-top: 33px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between; }
  .blog_cards .card {
    width: 310px;
    max-height: 565px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative; }
    .blog_cards .card img {
      border-radius: 5px; }
    .blog_cards .card img:hover {
      cursor: pointer; }
    .blog_cards .card .topic_clickable {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      padding: 20px 0 0 0; }
      .blog_cards .card .topic_clickable p.topic {
        width: auto; }
      .blog_cards .card .topic_clickable p.topic:last-child {
        margin-right: 20px;
        margin-left: 10px; }
  .blog_cards .card_desc {
    padding: 15px 20px 20px 20px;
    width: 270px; }
    .blog_cards .card_desc p {
      font: 400 12px/20px "Lora", serif;
      color: #6c757d;
      max-height: 60px;
      overflow: hidden; }
    .blog_cards .card_desc h3 {
      font: 700 18px/25px "Lora", serif;
      padding: 15px 0;
      color: #495057;
      max-height: 50px;
      overflow: hidden; }
    .blog_cards .card_desc h3:hover {
      cursor: pointer;
      color: #d4a373; }
  .blog_cards .author {
    display: flex;
    justify-content: center;
    border-top: 1px #e5e5e5 solid;
    width: 270px;
    margin: 0 20px 20px 20px;
    padding-top: 18px;
    max-height: 50px;
    overflow: hidden; }
    .blog_cards .author img {
      width: 50px;
      height: 50px; }
    .blog_cards .author p {
      padding-left: 16px;
      padding-top: 3px; }
    .blog_cards .author span {
      font: 400 12px/20px "Lora", serif; }
    .blog_cards .author span.bold-text {
      font-weight: 700;
      color: #495057; }
    .blog_cards .author span.italic-text {
      color: #6c757d; }
    .blog_cards .author span.bold-text:hover {
      cursor: pointer;
      color: #d4a373; }

section.big_post {
  background-image: url("../image/BG-big-post.svg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 135px; }
  section.big_post div.big_post_container {
    width: 530px;
    height: 245px;
    text-align: center; }
    section.big_post div.big_post_container h2 {
      font: 700 36px/46.08px "Lora", serif;
      color: #ffffff;
      align-items: center;
      padding: 0;
      margin: 25px 0 14px 0; }
    section.big_post div.big_post_container p.big_post_desc {
      font: 400 12px/20px "Lora", serif;
      color: #e5e5e5; }
    section.big_post div.big_post_container hr {
      color: #e5e5e5;
      width: 30px;
      margin: 20px auto 15px auto; }
    section.big_post div.big_post_container h2:hover {
      cursor: pointer;
      color: #d4a373; }

section.editors_pick {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1300px; }
  section.editors_pick .editors_pick_container {
    margin-top: 150px; }
    section.editors_pick .editors_pick_container h2 {
      color: #495057;
      font: 700 36px/46.08px "Lora", serif;
      margin-bottom: 70px; }
    section.editors_pick .editors_pick_container .editors_cards {
      display: flex;
      justify-content: space-between; }
      section.editors_pick .editors_pick_container .editors_cards .ecard {
        position: relative;
        width: 420px; }
        section.editors_pick .editors_pick_container .editors_cards .ecard img {
          position: absolute;
          z-index: -1;
          border-radius: 5px; }
        section.editors_pick .editors_pick_container .editors_cards .ecard .topic_clickable {
          display: flex;
          justify-content: flex-end;
          width: auto;
          padding: 20px 20px 0 0; }
        section.editors_pick .editors_pick_container .editors_cards .ecard .ecard_description {
          margin: 108px 0 0 40px;
          width: auto;
          color: #fff; }
          section.editors_pick .editors_pick_container .editors_cards .ecard .ecard_description p {
            font: 400 12px/20px "Lora", serif;
            color: #e5e5e5; }
          section.editors_pick .editors_pick_container .editors_cards .ecard .ecard_description h3 {
            font: 700 18px/25px "Lora", serif;
            margin: 12px 0 14px 0; }
      section.editors_pick .editors_pick_container .editors_cards .ecard:hover {
        cursor: pointer; }
        section.editors_pick .editors_pick_container .editors_cards .ecard:hover .ecard_description h3 {
          color: #d4a373; }

section.subfooter {
  display: flex;
  justify-content: center;
  margin: 195px 0 0 0;
  background-color: #212529;
  min-height: 400px;
  align-items: center;
  width: 100%; }
  section.subfooter .subfooter_container {
    display: flex;
    width: 1300px;
    justify-content: center;
    height: 188px; }
    section.subfooter .subfooter_container h3 {
      color: #fff;
      font: 700 18px/25px "Lora", serif; }
    section.subfooter .subfooter_container p {
      color: #e5e5e5;
      font: 400 12px/20px "Lora", serif;
      margin: 13px 0; }
    section.subfooter .subfooter_container a {
      text-decoration: none;
      color: #e5e5e5; }
    section.subfooter .subfooter_container a:hover {
      text-decoration: underline; }
    section.subfooter .subfooter_container div.explorate {
      margin-left: 12px; }
      section.subfooter .subfooter_container div.explorate a {
        color: #e5e5e5;
        font: 400 12px/20px "Lora", serif; }
      section.subfooter .subfooter_container div.explorate a:hover {
        cursor: pointer; }
      section.subfooter .subfooter_container div.explorate a:active {
        color: #d4a373; }
    section.subfooter .subfooter_container div.headquarter {
      margin-left: 12px; }
    section.subfooter .subfooter_container div.connections h3 {
      margin-left: 11px; }
    section.subfooter .subfooter_container div.connections section {
      display: flex;
      width: 192px;
      margin: 15px 0 0 11px; }
      section.subfooter .subfooter_container div.connections section i {
        color: #fff; }
      section.subfooter .subfooter_container div.connections section i:hover {
        color: #f79393;
        cursor: pointer; }
      section.subfooter .subfooter_container div.connections section i:active {
        color: #ce5109; }
      section.subfooter .subfooter_container div.connections section i.fa-facebook:hover,
      section.subfooter .subfooter_container div.connections section i.fa-twitter:hover,
      section.subfooter .subfooter_container div.connections section i.fa-behance-square:hover {
        color: lightblue; }
      section.subfooter .subfooter_container div.connections section i.fa-facebook:active,
      section.subfooter .subfooter_container div.connections section i.fa-twitter:active,
      section.subfooter .subfooter_container div.connections section i.fa-behance-square:active {
        color: #6db8f5; }

footer {
  min-height: 100px;
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  footer .footer_container {
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer_container img:first-child {
      width: 198px;
      margin-right: auto; }
    footer .footer_container img:last-child {
      width: 98px; }
    footer .footer_container img:hover {
      cursor: pointer; }

@media (min-width: 1300px) {
  header {
    min-width: 1300px; }
  section.blog_slider {
    min-width: 1300px; }
  section.big_post {
    min-width: 1300px; }
  section.subfooter {
    min-width: 1300px; }
  footer {
    min-width: 1300px; } }

@media (max-width: 1299px) {
  header {
    min-width: 600px;
    width: 100%; }
  section.blog_slider {
    min-width: 600px;
    width: 100%; }
    section.blog_slider div.nested_blog_slider {
      min-width: 600px;
      width: 100%; }
  section.big_post {
    min-width: 600px;
    width: 100%; }
  section.subfooter {
    min-width: 600px;
    width: 100%; }
  footer {
    min-width: 600px;
    width: 100%; }
  section.blog_cards {
    min-width: 600px;
    width: 100%; }
    section.blog_cards div.blog_cards {
      min-width: 600px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around; }
  section.editors_pick {
    min-width: 600px;
    width: 100%; }
  .editors_pick_container {
    min-width: 600px;
    width: 100%; }
    .editors_pick_container .editors_cards {
      flex-wrap: wrap;
      justify-content: space-around; }
      .editors_pick_container .editors_cards .ecard {
        margin-bottom: 50px;
        justify-content: space-around; } }
