@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

$font-family: "Roboto", sans-serif;
$font-lora: "Lora", serif;
$header-text-color: #ffffff;
$light-text-color: #e5e5e5;
$main-dark-text-color: #495057;
$secondary-dark-text-color: #6c757d;
$second-main-dark-text-color: #343a40;
$link-hover-color: #d4a373;
$link-active-color: #ce5109;

* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
}
body {
  background-color: #f8f9fa;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  width: 100%;
  min-height: 80px;
  align-items: center;
  padding: 0 auto;
  z-index: 10;

  div.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    padding: 0;
    margin: 0 auto;
  }
  img {
    width: 67px;
    height: 18px;
    display: flex;
    align-items: center;
  }

  img:hover {
    cursor: pointer;
  }

  div.right-header {
    display: flex;
    align-items: center;
    gap: 20px;
    width: auto;
    justify-content: center;
    nav.menus {
      width: 240px;
    }
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    ul > li {
      display: inline-block;
    }
    .social_icons {
      width: auto;
      justify-content: space-around;
      align-items: center;
      padding: 0 18px;
      gap: 22px;
      min-height: 20px;
      display: flex;
      border-right: 0.5px solid white;
      border-left: 0.5px solid white;
      i {
        display: flex;
        justify-content: space-around;
      }
    }
    i:hover {
      color: rgb(247, 147, 147);
      cursor: pointer;
    }
    i:active {
      color: $link-active-color;
    }
    i.fa-facebook:hover,
    i.fa-twitter:hover,
    i.fa-behance-square:hover {
      color: lightblue;
    }
    i.fa-facebook:active,
    i.fa-twitter:active,
    i.fa-behance-square:active {
      color: rgb(109, 184, 245);
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 12px;
      padding-bottom: 5px;
    }

    li a:hover {
      border-bottom: 2px solid $link-hover-color;
    }

    li a:active {
      border-bottom: 2px solid $link-active-color;
    }

    li:first-child a {
      border-bottom: 2px solid $link-hover-color;
    }

    .fa-search {
      width: 20px;
    }
  }
}

.topic {
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  font-size: 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.15);
  display: inline-flex;
  justify-content: center;
  border-radius: 8px;
  width: auto;
  a {
    font-size: 10px;
    font-weight: 700;
  }
}
.topic:hover {
  cursor: pointer;
  background-color: $link-hover-color;
}
.topic:active {
  cursor: pointer;
  background-color: $link-active-color;
}

section.blog_slider {
  background-image: url("../image/blog-slider-bg.svg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 600px;
  width: 100%;
  color: white;
  margin: -80px 0 0 0;
  z-index:-1;

  .nested_blog_slider {
    width: 1300px;
    padding: 278px 0 0 0;
    margin: auto;
    h1 {
      margin: 18px 0 0 0;
      font-size: 36px;
      font-family: $font-lora;
      line-height: 46.08px;
    }
    .under_title {
      margin: 13px 0 0 0;
      display: flex;
      width: 550px;
      p {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
        font-family: $font-lora;
        margin-right: 20px;
        line-height: 20px;
      }
      hr {
        width: 40px;
        border: none;
        border-top: 1px $light-text-color solid;
        padding: 0;
        margin: 7px 0 0 0;
      }
      p.date_under_title {
        width: 50px;
      }
      p.text_under_title {
        margin-left: 8px;
      }
    }
  }
}

section.blog_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1300px;
  padding: 150px 0px 0 0px;

  h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: $font-lora;
    color: $main-dark-text-color;
    margin-bottom: -5px;
  }
  .filter {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-top: 40px;
    .left_filter {
      display: flex;
      width: 377px;
    }
    li {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;
      color: $main-dark-text-color;
      font-family: $font-lora;
      font-size: 12px;
      font-weight: 700;
      margin-right: 20px;
    }
    li:first-child {
      color: $link-active-color;
    }

    li:last-child {
      justify-content: flex-end;
      flex-grow: 2;
      margin-right: 0;
    }
    li:hover {
      color: $link-hover-color;
      cursor: pointer;
    }
    li:active {
      color: $link-active-color;
    }
  }
}

.blog_cards {
  width: 1300px;
  padding-top: 33px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  .card {
    width: 310px;
    max-height: 565px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    img {
      border-radius: 5px;
    }
    img:hover {
      cursor: pointer;
    }
    .topic_clickable {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      padding: 20px 0 0 0;

      p.topic {
        width: auto;
      }
      p.topic:last-child {
        margin-right: 20px;
        margin-left: 10px;
      }
    }
  }

  .card_desc {
    padding: 15px 20px 20px 20px;
    width: 270px;
    p {
      font: 400 12px/20px $font-lora;
      color: $secondary-dark-text-color;
      max-height: 60px;
      overflow: hidden;
    }
    h3 {
      font: 700 18px/25px $font-lora;
      padding: 15px 0;
      color: $main-dark-text-color;
      max-height: 50px;
      overflow: hidden;
    }
    h3:hover {
      cursor: pointer;
      color: $link-hover-color;
    }
  }
  .author {
    display: flex;
    justify-content: center;
    border-top: 1px $light-text-color solid;
    width: 270px;
    margin: 0 20px 20px 20px;
    padding-top: 18px;
    max-height: 50px;
    overflow: hidden;
    img {
      width: 50px;
      height: 50px;
    }
    p {
      padding-left: 16px;
      padding-top: 3px;
    }
    span {
      font: 400 12px/20px $font-lora;
    }
    span.bold-text {
      font-weight: 700;
      color: $main-dark-text-color;
    }
    span.italic-text {
      color: $secondary-dark-text-color;
    }
    span.bold-text:hover {
      cursor: pointer;
      color: $link-hover-color;
    }
  }
}

section.big_post {
  background-image: url("../image/BG-big-post.svg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 135px;
  div.big_post_container {
    width: 530px;
    height: 245px;
    text-align: center;
    h2 {
      font: 700 36px/46.08px $font-lora;
      color: #ffffff;
      align-items: center;
      padding: 0;
      margin: 25px 0 14px 0;
    }
    p.big_post_desc {
      font: 400 12px/20px $font-lora;
      color: $light-text-color;
    }
    hr {
      color: $light-text-color;
      width: 30px;
      margin: 20px auto 15px auto;
    }
    h2:hover {
      cursor: pointer;
      color: $link-hover-color;
    }
  }
}

section.editors_pick {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1300px;
  .editors_pick_container {
    margin-top: 150px;
    h2 {
      color: $main-dark-text-color;
      font: 700 36px/46.08px $font-lora;
      margin-bottom: 70px;
    }

    .editors_cards {
      display: flex;
      justify-content: space-between;
      .ecard {
        position: relative;
        width: 420px;
        img {
          position: absolute;
          z-index: -1;
          border-radius: 5px;
        }
        .topic_clickable {
          display: flex;
          justify-content: flex-end;
          width: auto;
          padding: 20px 20px 0 0;
        }
        .ecard_description {
          margin: 108px 0 0 40px;
          width: auto;
          color: #fff;

          p {
            font: 400 12px/20px $font-lora;
            color: $light-text-color;
          }
          h3 {
            font: 700 18px/25px $font-lora;
            margin: 12px 0 14px 0;
          }
        }
      }
      .ecard:hover {
        cursor: pointer;
        .ecard_description {
          h3 {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}

section.subfooter {
  display: flex;
  justify-content: center;
  margin: 195px 0 0 0;
  background-color: #212529;
  min-height: 400px;
  align-items: center;
  width: 100%;
  .subfooter_container {
    display: flex;
    width: 1300px;
    justify-content: center;
    height: 188px;
    h3 {
      color: #fff;
      font: 700 18px/25px $font-lora;
    }
    p {
      color: $light-text-color;
      font: 400 12px/20px $font-lora;
      margin: 13px 0;
    }
    a {
      text-decoration: none;
      color: $light-text-color;
    }
    a:hover {
      text-decoration: underline;
    }
    div.explorate {
      margin-left: 12px;
      a {
        color: $light-text-color;
        font: 400 12px/20px $font-lora;
      }
      a:hover {
        cursor: pointer;
      }
      a:active {
        color: $link-hover-color;
      }
    }
    div.headquarter {
      margin-left: 12px;
    }
    div.connections {
      h3 {
        margin-left: 11px;
      }
      section {
        display: flex;
        width: 192px;
        margin: 15px 0 0 11px;
        i {
          color: #fff;
        }
        i:hover {
          color: rgb(247, 147, 147);
          cursor: pointer;
        }
        i:active {
          color: $link-active-color;
        }
        i.fa-facebook:hover,
        i.fa-twitter:hover,
        i.fa-behance-square:hover {
          color: lightblue;
        }
        i.fa-facebook:active,
        i.fa-twitter:active,
        i.fa-behance-square:active {
          color: rgb(109, 184, 245);
        }
      }
    }
  }
}

footer {
  min-height: 100px;
  background-color: $second-main-dark-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .footer_container {
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    img:first-child {
      width: 198px;
      margin-right: auto;
    }
    img:last-child {
      width: 98px;
    }
    img:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 1300px) {
  header {
    min-width: 1300px;
  }
  section.blog_slider {
    min-width: 1300px;
  }
  section.big_post {
    min-width: 1300px;
  }
  section.subfooter {
    min-width: 1300px;
  }
  footer {
    min-width: 1300px;
  }
}

@media (max-width: 1299px) {
  header {
    min-width: 600px;
    width: 100%;
  }
  section.blog_slider {
    min-width: 600px;
    width: 100%;
    div.nested_blog_slider {
      min-width: 600px;
      width: 100%;
    }
  }
  section.big_post {
    min-width: 600px;
    width: 100%;
  }
  section.subfooter {
    min-width: 600px;
    width: 100%;
  }
  footer {
    min-width: 600px;
    width: 100%;
  }
  section.blog_cards {
    min-width: 600px;
    width: 100%;
    div.blog_cards {
      min-width: 600px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  section.editors_pick {
    min-width: 600px;
    width: 100%;
  }
  .editors_pick_container {
    min-width: 600px;
    width: 100%;
    .editors_cards {
      flex-wrap: wrap;
      justify-content: space-around;
      .ecard{
        margin-bottom: 50px;
        justify-content: space-around;
      }
    }
  }
}